# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Claude's files
.claude/
CLAUDE.md

# Visual Studio 2026
.vs/
*.suo
*.user
*.userosscache
*.sln.docview
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake
build/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CMakeSettings.json

# Dependencies fetched by CMake
_deps/

#clangd
.clangd/
compile_commands.json

#vscode
.vscode/